.checkout {
    justify-content: center;
    display: flex;
}

.checkoutContainer {
    width: 100%;
    height: auto;
    margin: 0.5rem 2rem 2rem 2rem;
}

.checkoutBanner {
    width: 100%;
    display: flex;
    height: 8rem;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}

.checkoutBanner>h3 {
    font-weight: 400;
    padding-left: 1rem;
}

.checkoutBannerTitle {
    display: flex;
    padding-right: 1rem;
}

.checkoutBannerTitle>h6 {
    font-weight: normal;
}

.checkoutBannerTitle>h6:nth-child(5) {
    color: rgb(174, 173, 173);
}

.checkoutBannerTitle>span {
    font-size: 10px;
    margin-top: 22px;
    padding: 3px;
}

.checkoutBilling {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.checkoutBillingContainer {
    font-style: italic;
}

.checkoutBillingContainer>h5{
    font-weight: 400;
    margin-bottom: 15px;
}

.checkoutInput>h6 {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 2px;
}

.checkoutInput>input {
    width: 90%;
    height: 20px;
    font-size: 8px;
    padding-left: 5px;
    border: 1px solid rgb(221, 217, 217);
    outline: none;
}

.checkoutInput>p {
    color: red;
    font-size: 8px;
    margin: 2px 0px 0px 5px;
}

.checkoutBtn {
    border: none;
    background-color: rgb(69, 68, 68);
    color: white;
    font-style: italic;
    padding:  5px 10px 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 10px;
}

.checkoutOrder {
    background-color: #f8f9fa;
    height: 160px;
    margin-top: 50px;
    padding: 0 20px 0 20px;
    font-style: italic;
}

.checkoutOrder>h5 {
    font-weight: 450;
    margin-bottom: 25px;
}

.checkoutProduct {
    display: flex;
}

.checkoutProduct>h6 {
    width: 110px;
    font-size: 8px;
    margin-top: -10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 217, 217);
    font-weight: 500;
}

.checkoutProduct>h6:nth-child(2) {
    padding-left: 1.5rem;
    font-weight: 100;
    color: rgb(165, 165, 165);
}

.checkoutTotal {
    display: flex;
    margin-top: -30px;
}

.checkoutTotal>h6 {
    width: 110px;
}

.checkoutTotal>h6:nth-child(1) {
    font-size: 8px;
    font-weight: 500;
}

.checkoutTotal>h6:nth-child(2) {
    font-weight: normal;
    font-size: 10px;
    margin-top: 15px;
    padding-left: 1.5rem;
}