.product {
    width: 100%;
    justify-content: center;
    display: flex;
}

.productContainer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.productTitle {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

.productTitle>h5 {
    font-size: 12px;
    font-weight: 600;
}

.productTitle>h6 {
    font-size: 8px;
    margin-bottom: -20px;
}

.image_1 {
    display: grid;
    grid-template-columns: auto auto;
    margin:0 2rem 0 2rem;
    gap: 2rem;
}

.image_2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin:0 2rem 0 2rem;
    padding-top: 1rem;
    gap: 1.5rem;
}

