.category {
    justify-content: center;
    display: flex;
}

.categoryContainer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem 2rem 2rem;
}

.categoryBanner {
    width: 100%;
    height: 10rem;
    display: flex;
    background-color: #f8f9fa;
    font-style: italic;
    padding-top: 2rem;
}

.categoryBanner>h3 {
    font-weight: normal;
    flex: 1;
    margin: 3rem 0 0 3rem;
}

.categoryBanner>h6{
    margin: 3rem 3rem 0 0;
    color: rgb(165, 165, 165);
}

.categoryContent {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 2rem;
}

.categoryMenu {
    width: 100%;
    height: auto;
    font-style: italic;
    margin-top: -15px;
}


.categoryMenu>dt:nth-child(2) {
    background-color: black;
    color: white;
}

.categoryMenu>dt {
    font-weight: lighter;
    padding: 0.5rem 0rem 0.5rem 3rem;
    background-color: rgba(233, 229, 229);
}

.categoryMenu>dd {
    cursor: pointer;
    font-weight: lighter;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.categoryProductDetail {
    margin-left: 3rem;
}

.categorySearch {
    width: 100%;
    margin-top: 13px;
    display: grid;
    grid-template-columns: 85% 15%;
}

.categorySearch>input {
    border: 1px solid rgb(204, 203, 203);
    width: 17rem;
    height: 2rem;
    outline: none;
    padding-left: 1rem;
}

.categorySearch>select {
    width: 7rem;
    border: 1px solid  rgb(204, 203, 203);
    border-radius: 3px;
    outline: none;
    margin-top: 3px;
}

.categoryDetail {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    margin-top: 1rem;
}

.categoryItem {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.categoryItemDetail {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -15px;
    font-style: italic;
    margin-left: -10px;
}

.categoryItemDetail>h6 {
    margin-bottom: -15px;
}

.categoryItemDetail>h6:nth-child(2) {
    color: rgb(165, 165, 165);
}

.categoryPageIcon {
    position: absolute;
    right: 4rem;
    margin-top: 1rem;
}

.categoryPageIcon>span {
    /* font-size: 8px; */
    border: 1px solid;
    margin: 0.2rem;
    padding: 0.2rem 0.6rem;
    background-color: rgb(37, 38, 38);
    color: beige;
}

