.signup {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 1rem 2rem 2rem 2rem;
    background-image: url('../../Images/banner1.jpg');
    background-size: 110% 80%;
}

.signupContainer {
    width: 20rem;
    height: auto;
    border-radius: 10px;
    text-align: center;
    justify-items: center;
    background-color: white;
    margin: 2rem 0rem 2rem 0rem;
}



.signupContent>h2 {
    font-style: italic;
    font-weight: lighter;
    padding-top: 20px;
    margin-bottom: 2rem;
}

.signupInput>input {
    width: 14rem;
    height: 2.5rem;
    padding-left: 1rem;
    border: 1px solid rgb(203, 197, 197);
    outline: none;
}

.signupInput {
    position: relative;
}

.signupInput label {
    position: absolute;
    top: 10px;
    left: 45px;
    pointer-events: none;
    transition: 0.5s;
    font-style: italic;
    font-size: 16px;
    font-weight: 200;
}

.signupInput input:focus ~ label,
.signupInput input:invalid ~ label {
    top: -8px;
    left: 45px;
    font-size: 10px;
    background-color: white;
}

.signupInput>input:nth-child(1) {
    margin-bottom: -2px;
}

.signupInput>input:nth-child(2) {
    margin-bottom: -2px;
}

.signupInput>input:nth-child(3) {
    margin-bottom: -2px;
}
.signupInput>p {
    color: red;
    text-align: left;
    margin-left: 2.5rem;
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
}

.signupBtn {
    width: 10rem;
    height: 2.5rem;
    margin-top: 15px;
    background-color: rgb(46, 46, 46);
    color: rgb(225, 223, 223);
    border: none;
    cursor: pointer;
}

.clickLogin {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    font-style: italic;
}

.clickLogin>h6 {
    font-weight: lighter;
    margin-top: 13px;
}

.linkSignIn {
    color: rgb(51, 51, 255);
    margin: 13px 0px 0px 3px;
    cursor: pointer;
    font-size: 1rem;
}

