.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #111111;
    margin-top: 30px;
}

.footerContainer {
    width: 100%;
    color: aliceblue;
    display: grid;
    grid-template-columns: auto auto auto;
    font-style: italic;
    margin: 0.5rem 2rem 1.5rem 5rem;
    gap: 4rem;
    font-size: 15px;
}

.footerContainer h6 {
    font-weight: 500;
}

.footerContainer p{
    font-size: 8px;
}